*{
    margin: 0;padding: 0;    
    }body{
        background: linear-gradient(#050000 2%, #A60000 15%);
        height: 850px;
        width: 100%;
        font-family: sans-serif;
        color: #fff;
    }
    header{
        margin: 90px 0 0 0;
        background-color: #000;
        height: 35px;
        width: 100%;
        padding: 12px 0px;
    }a{
        text-decoration: none;
    }
    
    .wf-footer{
          /* below code allows to set padding ,margin-top */
        padding: 0 0 0 5%;
        margin-top: 20%;
    }
    .wf-footer nav a{
    padding: 5px 5px;
    }
    footer{
        margin: 10px 0 0 0;
    }
    .wf-footer nav a img{
        /* below code allows to set padding ,width, bg color, border radius, height */
        padding: 5px;
        width:30px;
        background-color: #fff;
        border-radius: 10px;
        height: 30px;
    }